@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 8s ease-in-out infinite;
}

.delay-200 {
  animation-delay: 2s;
}

.delay-500 {
  animation-delay: 5s;
}
